#HEADER=com.lcs.wc.product.PDFProductSpecificationHeader
HEADER=com.cabelas.wc.product.CabPDFProductSpecificationHeader
Images Page=com.lcs.wc.product.PDFImagePagesCollection2
Construction=com.lcs.wc.product.PDFProductSpecificationConstruction2|orientation=LANDSCAPE
Measurements=com.lcs.wc.product.PDFProductSpecificationMeasurements2|orientation=LANDSCAPE
BOM=com.lcs.wc.product.PDFProductSpecificationBOM2|orientation=LANDSCAPE
CHANGE_TRACKING=com.lcs.wc.product.ChangeTrackingPDFGenerator
#BOMHeader=com.lcs.wc.flexbom.gen.BOMAttributesPDFContent
#BOMFooter=com.lcs.wc.flexbom.gen.BOMAttributesPDFContent
#MeasurementsHeader=com.lcs.wc.measurements.gen.MeasAttributesPDFContent
#MeasurementsFooter=com.lcs.wc.measurements.gen.MeasAttributesPDFContent
#ConstructionHeader=com.lcs.wc.construction.gen.ConstructionAttributesPDFContent
#ConstructionFooter=com.lcs.wc.construction.gen.ConstructionAttributesPDFContent

