#colorwayReport=com.lcs.wc.flexbom.gen.MatColorPDFContent
colorwayReport=com.cabelas.wc.flexbom.gen.CabMatColorPDFContent
sizingReport=com.lcs.wc.flexbom.gen.SizePDFContent
singleBOM=com.lcs.wc.flexbom.gen.SingleBOMPDFContent