### Update Product Lifecycle State ###
com.lcs.wc.foundation.LCSPluginManager.eventPlugin.1001=targetClass|com.lcs.wc.product.LCSProduct^targetType|ALL^pluginClass|com.xyz.wc.product.XYZProductPlugins^pluginMethod|setProductLifecycleState^event|POST_UPDATE_PERSIST^priority|1
